.box{
    display: block;
    background-color:black;
    width: 350px;
    height: 400px;
    margin-top: 40px;
    padding-top: 50px;
    padding-left: 50px;
    margin-left: 300px;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 20px;
    color: whitesmoke;
}

.loginSubmit{
    background-color: whitesmoke;
    color: black;
    margin-top: 50px;
}
